{
  "env": {
    "browser": true,
    "es6": true,
    "webextensions": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-unused-vars": "warn"
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2023,
    "sourceType": "module",
    "requireConfigFile": false,
    "babelOptions": {
      "configFile": "./babel.config.json"
    }
  }
}