#main {
  width: 100% !important;
  float: none !important;
  margin: auto !important;
}

#center_column {
  display: flex !important;
  width: 90% !important;
  float: none !important;
  margin: auto !important;
}

#main-left {
  margin: 0 0 0 20px !important;
}

#main-center-none {
  width: 90% !important;
  float: none !important;
  margin: auto !important;
}

#main-left-main {
  width: 100% !important;
  float: none !important;
  margin: auto !important;
}

#members_dlsite_left {
  width: 100% !important;
}

#members_right {
  display: none !important;
}

#right_column {
  display: none !important;
}

.center2 {
  display: none !important;
}

.left_column {
  display: none !important;
}

#sort_tab {
  display: none !important;
}

.block-border {
  display: none !important;
}

.mozamoza {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain !important;
}

.nijie {
  margin: 20px 0px 20px 0px !important;
  width: 240px !important;
  height: 240px !important;
}

.nijiedao {
  width: 240px !important;
  height: 240px !important;
}

img {
  max-width: 100% !important;
  height: auto !important;
}

.clearfix>div.nijie>p.title {
  margin-top: 5px !important;
}

.mem-index>div.nijie>p.title {
  margin-top: 15px !important;
}