/* 不要なコンテンツの非表示 */
#popular-preview {
  display: none;
}

#headerthumbs {
  visibility: hidden;
}

#has-mail-notice {
  display: none;
}

#headerlogo {
  display: none;
}

#note-container {
  display: none;
}

/* 不快なコンテンツの非表示 */
#p816140 {
  visibility: hidden;
}

/* コンテンツの表示調整 */
img#image {
  max-width: 1920px;
  max-height: 1280px;
  object-fit: contain
}

video#image {
  max-width: 1920px;
  max-height: 1280px;
  object-fit: contain
}

/* サムネイルの表示調整 */
div.content {
  width: 90% !important;
  margin-left: 10px !important;
}

#post-content {
  text-align: center !important;
}

span.thumb {
  height: 320px !important;
  width: 310px !important;
}

img.preview {
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 300px;
}