/* Sticky の表示調整 */
.stick {
  top: 170px !important;
}

/* 新機能非表示 */
#draggableElement {
  display: none;
}

/* トップバー非表示 */
.top-bar {
  display: none !important;
}

/* ニュース非表示 */
.companion--row {
  display: none !important;
}

#news-ticker {
  display: none;
}

.carousel>a {
  display: none !important;
}

/* 人気のプレビュー非表示 */
#popular-preview {
  display: none;
}

/* ツールチップの非表示 */
#tooltips {
  display: none;
}

/* 翻訳の非表示 */
.note-box {
  display: none;
}

/* サムネイル表示調整 */
.posts-container {
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)) !important;
  grid-auto-rows: minmax(250px, auto) !important;
  margin-left: 20px;
  margin-right: 20px;
}

.post-preview-container {
  height: 250px !important;
}

.post-preview-image {
  max-height: 250px !important;
}

#paginator {
  display: block !important;
  padding: 1em 0 1em 0 !important;
}

/* コンテンツ表示調整 */
img#image {
  max-width: 1440px;
  max-height: 1080px;
  object-fit: contain
}

video#image {
  max-width: 1440px !important;
  max-height: 1080px !important;
  object-fit: contain !important;
}

#post-content {
  text-align: center !important;
}