/* 不要なコンテンツの非表示 */
#headerthumbs {
  visibility: hidden;
}

/* 不快なコンテンツの非表示 */
#p816140 {
  visibility: hidden;
}

/* 特定リンクの文字サイズを変更 */
.tag-type-artist > a {
  font-size: 120%;
}

/* 特定リンクの文字サイズを変更 */
.tag-type-studio > a {
  font-size: 120%;
}

/* お気に入り済みコンテンツのグレーアウト */
img.preview:not(.favorited) {
  border:2px solid #F00 !important;
}

/* サムネイルの表示調整 */
div.content {
  width: 90% !important;
  margin-left: 10px !important;
}

span.thumb {
  height: 210px !important;
  width: 200px !important;
}

img.preview {
  width:auto;
  height:auto;
  max-width:190px;
  max-height:190px;
}
