/* 不要なコンテンツの非表示 */
#popular-preview {
  display: none;
}

#headerthumbs {
  visibility: hidden;
}

#has-mail-notice {
  display: none;
}

/**/
#page {
  transform: scale(0.95, 0.95);
  margin-top: -35px;
}

.appdetail-gh-phase02 #main-ntg {
  margin: 0px 0 0 !important;
}

.dmm-ntgnavi {
  display: none;
}

/* 不快なコンテンツの非表示 */
#p816140 {
  visibility: hidden;
}

/* 特定リンクの文字サイズを変更 */
.tag-type-artist > a {
  font-size: 120%;
}

/* 特定リンクの文字サイズを変更 */
.tag-type-studio > a {
  font-size: 120%;
}

/* お気に入り済みコンテンツのグレーアウト */
img.favorited {
  filter: saturate(0%);
}

/* 未閲覧コンテンツのハイライト */
img.preview:not(.favorited):not([title~="Rating:Safe"]) {
  border:2px solid #F00 !important;
}

img.preview[title~="Rating:Safe"] {
  filter: saturate(0%);
}

/* サムネイルの表示調整 */
div.content {
  width: 90% !important;
  margin-left: 10px !important;
}

span.thumb {
  height: 210px !important;
  width: 200px !important;
}

img.preview {
  width:auto;
  height:auto;
  max-width:190px;
  max-height:190px;
}
